<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fee Structure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1>Fee Structure</h1>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        {% if fee_structure %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Class Name</th>
                    <th>Teacher Name</th>
                    <th>Amount</th>
                    <th>Batch Timing</th>
                    <th>Want To Apply ?</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in fee_structure %}
                <tr>
                    <td>{{ fee['id'] }}</td>
                    <td>{{ fee['class_name'] }}</td>
                    <td>{{ fee['teacher_name'] }}</td>
                    <td>{{ fee['class_fee_amount'] }}</td>
                    <td>
                        {% if fee.batch_time is none %}
                            -
                        {% else %}
                            {{ fee.batch_time }}
                        {% endif %}
                    </td>
                    <td>
                        {% if fee['enrolled'] %}
                        You've already applied
                        {% else %}
                        <form action="{{ url_for('admission') }}" method="post">
                            <input type="hidden" name="class_id" value="{{ fee['class_id'] }}">
                            <input type="hidden" name="teacher_id" value="{{ fee['teacher_id'] }}">
                            <button type="submit" class="dashboard-link button" id="applyButton">
                                <i class="fas fa-sign-in-alt"></i> Apply
                            </button>
                        </form>
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No Classes Available At This Time</p>
        {% endif %}

        <br>
        <a href="{{ url_for('logoutStudent') }}" class="dashboard-link button"> <i class="fas fa-sign-out-alt"></i>
            Logout</a>
    </div>
</body>

</html>